<%- include('parts/html-head') %>
    <%- include('parts/navbar') %>
        <div class="container">
            Hello
            <%= name %>
        </div>
        <%- include('parts/scripts') %>
            <%- include('parts/html-foot') %>