<%- include('parts/html-head') %>
    <%- include('parts/navbar') %>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">年齡</th>
                  </tr>
                </thead>
                <tbody>
                    <% for (item of sales){%>
                  <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.age %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
        </div>
        <%- include('parts/scripts') %>
            <%- include('parts/html-foot') %>