<%- include('parts/html-head') %>
    <%- include('parts/navbar') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp">
                                <% if (typeof email !== 'undefined') { %>
                            <div id="emailHelp" class="form-text"><%= email %></div>

                            <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <div class="form-text"><%= locals.password ? password : '' %></div>
                            <!-- locals預設值 -->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('parts/scripts') %>
            <%- include('parts/html-foot') %>